<p>
{{# instance }}
	<label for="{{fieldId.title}}">Title</label>
	<input class="widefat" id="{{fieldId.title}}" name="{{fieldName.title}}" type="text" 
		value="{{# title }}{{.}}{{/ title }}" />
{{/ instance }}
</p>