<div class="row">
	<div class="col-xs-12 post">
	
		<span class="col-xs-12">
			<span class="post-time">{{getDate | date.string}}</span>
		</span>
		
		<span class="col-xs-12">
			<a href="{{getPermalink}}">{{getTitle}}</a>
		</span>
		
		<span class="col-xs-12">
			{{{ getExcerpt }}}
		</span>
	</div>	
</div>
