<div class="col-xs-12 post">

	{{# postWith.thumbnail }}
		{{> home/postWith/_thumbnail }}
	{{/ postWith.thumbnail }}

	<div class="col-xs-12 {{# getThumbnail }} col-sm-10 {{/ getThumbnail }}">

		{{# postWith.date }}
			<span class="col-xs-12 date">
				{{> home/postWith/_date }}
				{{# postWith.author }}
					{{> home/postWith/_author }}
				{{/ postWith.author }}
			</span>
		{{/ postWith.date }}


		<span class="col-xs-12 title">
			<a class="permalink" href="{{getPermalink}}">{{getTitle}}</a>

			{{^ postWith.date }}
				{{# postWith.author }}
					{{> home/postWith/_author }}
				{{/ postWith.author }}
			{{/ postWith.date }}

			{{# postWith.commentsNumber }}
				{{> home/postWith/_comments_number }}
			{{/ postWith.commentsNumber }}

			{{> post/_edit_control }}

		</span>

		{{# postWith.excerpt }}
			{{> home/postWith/_excerpt }}
		{{/ postWith.excerpt }}

	</div>

</div>