<div class="col-xs-12">
	<a class="btn btn-default show-more col-xs-12" limit="{{postsPerPage}}">
		<i class="fa fa-plus"></i><i class="fa fa-spinner fa-pulse hidden"></i> {{#transu}}show_more{{/transu}}
	</a>
</div>