{{# instance }}

	<div class="sidebar-item archives row">
		<div class="col-xs-12">Widget: <span class="widget-name">{{widgetName}}</span></div>
		<div class="col-xs-12">Not implemented yet.</div>
	</div>

{{/ instance }}