<div class="col-xs-12 comment">
	<div id="user-{{getUserId}}" class="row">
		<span class="col-xs-1 author">
			<span class="name"><a href="{{getUser.getPerfilUrl}}"><img src="{{getUser.getAvatarSmall}}"></a></span>
		</span>
		<span class="col-xs-11 author">
			<span class="name"><a href="{{getUser.getPerfilUrl}}">{{getAuthorName}}</a></span>
			<span class="date">{{getDateGmt}}</span>
			<p class="content">{{getContent}}</p>
		</span>
	</div>
</div>