<div class="col-xs-12 post">

	{{# getThumbnail }}
		<div class="col-xs-12 col-sm-2 thumbnail">
			<a href="{{getPermalink}}"><img src="{{getThumbnail}}"></a>
		</div>
	{{/ getThumbnail }}

	<div class="col-xs-12 {{# getThumbnail }} col-sm-10 {{/ getThumbnail }}">

		{{> post/_info }}

		<span class="col-xs-12 title">
			<a class="permalink" href="{{getPermalink}}">{{getTitle}}</a>

			{{# getComments | count }}
				<span class="total-comments" title="{{#transu}}comments{{/transu}}">
					{{# getComments | moreThan1}}
							<i class="fa fa-comments-o"></i>
					{{/ getComments }}
					{{^ getComments | moreThan1}}
							<i class="fa fa-comment-o"></i>
					{{/ getComments }}
					<span class="total">{{getComments | count}}</span>
				</span>
			{{/ getComments }}

			{{> post/_edit_control }}

		</span>

		<span class="col-xs-12 excerpt">
			{{{ getExcerpt }}} <a class="see-more" href="{{getPermalink}}">{{#transu}}see_more{{/transu}}</a>
		</span>

	</div>

</div>