{{< base }}

	{{$ content }}
	
		{{# user }}
			<div id="user" class="col-xs-12 author list-posts">

				<div class="profile">
					<span class="avatar col-xs-4">
						<img src="{{getAvatarProfile}}" title="{{getDisplayName}} avatar">
					</span>
					<span class="info col-xs-8">
						<span class="col-xs-12">{{#transu}}user.display_name{{/transu}}: {{getDisplayName | ucfirst}} </span>
						<span class="col-xs-12">{{#transu}}user.full_name{{/transu}}: {{getFullName | ucfirst}} </span>
						<span class="col-xs-12">{{#transu}}user.rol{{/transu}}: {{getFirstRol | ucfirst}} </span>
						<span class="col-xs-12">Web: <a href="{{getUserUrl}}" target="_blank">{{getUserUrl}}</a></span>
						<span class="col-xs-12">{{#transu}}user.total_publish_posts{{/transu}}: {{getPosts | count}} </span>
						<span class="col-xs-12">{{#transu}}user.total_comments{{/transu}}: {{getComments | count}} </span>
					</span>
				</div>

				<div class="posts">
					{{# getPosts }}
						{{> home/_post }}
					{{/ getPosts }}
				</div>

				{{> home/_show_more_btn }}
			</div>
		{{/ user }}
		
	{{/ content }}

{{/ base }}