{{< base }}

	{{$ content }}
	
		{{# user }}
			<div id="user" class="col-xs-12 author list-posts">

				<div class="profile row col-xs-12">
					<span class="avatar col-xs-12 col-sm-4">
						<img src="{{getAvatarProfile}}" title="{{getDisplayName}} avatar">
					</span>
					<span class="info col-xs-12 col-sm-8">
						<span class="col-xs-12">
							<span class="what-title">{{#transu}}user.display_name{{/transu}}:</span> 
							<span class="what-result">{{getDisplayName | ucfirst}} </span> 
						</span>
						<span class="col-xs-12">
							<span class="what-title">{{#transu}}user.full_name{{/transu}}:</span> 
							<span class="what-result">{{getFullName | ucfirst}} </span> 
						</span>
						<span class="col-xs-12">
							<span class="what-title">{{#transu}}user.rol{{/transu}}:</span> 
							<span class="what-result">{{getFirstRol | ucfirst}} </span> 
						</span>
						<span class="col-xs-12">
							<span class="what-title">{{#transu}}user.web{{/transu}}:</span> 
							<span class="what-result"><a href="{{getUserUrl}}" target="_blank">{{getUserUrl}}</a></span> 
						</span>
						<span class="col-xs-12">
							<span class="what-title">{{#transu}}user.total_publish_posts{{/transu}}:</span> 
							<span class="what-result">{{getPosts | count}} </span> 
						</span>
						<span class="col-xs-12">
							<span class="what-title">{{#transu}}user.total_comments{{/transu}}:</span> 
							<span class="what-result">{{getComments | count}}</span> 
						</span>
					</span>
				</div>

				<h2 class="col-xs-12">{{#transu}}posts{{/transu}}</h2>

				<div class="posts">
					{{# getPosts }}
						{{> home/_post }}
					{{/ getPosts }}
				</div>

				{{> home/_show_more_btn }}
			</div>
		{{/ user }}
		
	{{/ content }}

{{/ base }}