<body class="tooltips container" itemscope="itemscope" itemtype="http://schema.org/WebPage">

	<header id="blog-title" class="row">	
		<a class="col-xs-12" href="{{homeUrl}}">{{blogTitle}}</a>
		<span class="col-xs-12">{{blogDescription}}</span>
	</header>

	<div id="page" class="row" ajax-url="{{templateUrl}}/ajax">

		{{> navbar }}

	    <div id="content" class="col-xs-12 {{# sidebar_right.active }}col-sm-10{{/ sidebar_right.active }}">
	    	{{$ content }}
	    		You don't have to see this text, cause you have to override this 
            	tag's "content" in your child template.
	    	{{/content }}
		</div>

		{{# sidebar_right.active }}
		<div id="sidebar_right" class="col-xs-12 col-sm-2 sidebar">
		    {{{ widgets_sidebar_right }}}
		</div>
		{{/ sidebar_right.active }}

	</div>

	{{$ js }} {{/ js }}

{{! close body tag automatically after executing wp_footer function }}