<header id="top" class="container">	
	<div id="blog-title" class="row">		
		<div class="col-xs-12">
			{{blogTitle}}
		</div>		
	</div>
</header>
<div id="page" class="container">
	<div id="super" class="row">		
	    <div id="content" class="col-xs-12">
	    	{{$ content }} Content {{/content }}
	    </div>
	</div>
</div>
{{$ scripts }} {{/ scripts }}