
		<div id="footer" class="row">
			{{# widgets_footer }}
				{{> widget/_widgets }}
			{{/ widgets_footer }}			
			<div class="col-xs-12">
				{{blogTitle}} - Created with <a href="https://github.com/Chemaclass/knob-mvc">Knob MVC Framework</a>
			</div>
		</div>

	</body>
</html>