<!DOCTYPE html>
<html lang="{{currentLang}}">
<head>
	<title>{{{blogTitle}}}</title>
	<meta charset="{{charset}}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="José María Valera Reales">
	<meta name="description" content="{{blogDescripcion}}">
	<meta name="keywords" content="knob, wordpress, framework, mvc, template">
	<link rel="icon" type="image/x-icon" href="{{publicDir}}/img/favicon.ico">
	<link media="all" rel="stylesheet" href="{{componentsDir}}/bootstrap/css/bootstrap.min.css">
	<link media="all" rel="stylesheet" href="{{componentsDir}}/font-awesome/css/font-awesome.min.css">
	<link media="all" rel="stylesheet" href="{{publicDir}}/css/main.css">
	<script src="{{componentsDir}}/jquery/jquery.min.js"></script>
	<script src="{{componentsDir}}/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{publicDir}}/js/main.js"></script>
	
{{! close head tag automatically after executing wp_head function }}