{{< base }}	

	{{$ content }}
		
		<div id="home">
		
			<div id="wellcome" class="row text-center">
				<span class="col-xs-12">
					{{#transu}}wellcome{{/transu}} to {{project.name}} by {{author.name}}
				</span>
				<span class="col-xs-12">
					{{project.description}}
				</span>
			</div>
			
			<hr>
			
			{{# posts }}
				{{> home/_post}}
				<hr>
			{{/ posts }}
			
		</div>
		
	{{/ content }}
	
{{/ base }}