{{< base }}	

	{{$ content }}
		
		<div id="home" class="text-center">
			<span class="col-xs-12">
				<span class="col-xs-6">
					{{#transu}}wellcome{{/transu}} to {{project.name}}
				</span>
				<span class="col-xs-6">
					By {{author.name}}
				</span>
			</span>
			<span class="col-xs-12">
				{{project.description}}
			</span>
			
			
		</div>
		
	{{/ content }}
	
{{/ base }}