<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	     
	      <a class="navbar-brand" href="{{homeUrl}}">
	      	<i class="fa fa-wordpress"></i>
	      </a>
	    </div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li class=""><a href="/random">{{#transu}}random{{/transu}}</a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{{#transu}}pages{{/transu}} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{{# pages }}
							<li><a href="{{getPermalink}}">{{getTitle}}</a></li>
						{{/ pages }}
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{{#transu}}categories{{/transu}} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{{# categories }}
							<li><a href="/{{categoryBase}}/{{getSlug}}">{{getName}}</a></li>
						{{/ categories }}
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{{#transu}}tags{{/transu}} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{{# tags }}
							<li><a href="/{{tagBase}}/{{getSlug}}">{{getName}}</a></li>
						{{/ tags }}
					</ul>
				</li>

				<li class="">
					<form action="/" method="get" class="navbar-form form-horizontal" role="search">
						<div class="input-group">
							<input type="text" name="s" class="form-control">
							<span class="input-group-btn ">
								<button class="btn btn-default" type="submit">
									<i class="fa fa-search"></i> <span class="hidden-sm">{{#transu}}search{{/transu}}</span>
								</button>
							</span>
						</div>
					</form>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-flag"></i> {{currentLang}}
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/lang?lang=en" class="url-redirect">English [en]</a></li>
						<li><a href="/lang?lang=es" class="url-redirect">Español [es]</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>