{{< base }}

	{{$ content }}
	
		{{# post }}
		<div id="post" class="row post-content">
			<div class="col-xs-12 category-{{getFirstCategory.slug}}" itemscope itemType="http://schema.org/BlogPosting">

				<h1 class="page-header titular" itemprop="headline">{{{getTitle}}}</h1>

				<div class="info row">
					<div class="col-xs-12 col-sm-8 titular">
						<meta itemprop="datePublished" content="{{ getDate | date.xmlschema}}"/>
						<i class="fa fa-calendar"></i> <span class="post-time">{{getDate | date.string}}</span>
						{{#trans}}por{{/trans}} 
						<span class="post-author"><a href="{{getAuthor.getPostsUrl}}">{{getAuthor.getDisplayName}}</a></span>
						{{# getCountCategories }}
							{{#trans}}in{{/trans}} <span class="categories">{{> post/_categories}}</span>
						{{/ getCountCategories }} 
					</div>
				</div>

				<div class="col-xs-12 text-left content" itemprop="articleBody">
					{{{ getContent }}}
				</div>
				
				<hr>

				<div id="comment-form" class="col-xs-12 comment-form"> 
					{{{ getFormComments }}}
				</div>

				{{# getCountComments }}
				<div id="comments" class="col-xs-12">
					<h3 class="col-xs-12 titular">{{#transu}}comentarios{{/transu}}</h3>
					{{# getComments }}
						{{> post/_comment }}						
					{{/ getComments }}
				</div>
				{{/ getCountComments }}
			</div>
			
		</div>
		{{/ post }}
	{{/ content }}

{{/ base }}