{{< base }}

	{{$ content }}
	
		{{# post }}
		<div id="post" class="col-xs-12 post-content">
			<div class="col-xs-12 category-{{getFirstCategory.slug}}" itemscope itemType="http://schema.org/BlogPosting">

				<h1 class="page-header titular" itemprop="headline">
					{{{getTitle}}}
					{{> post/_edit_control }}
				</h1>

				<div class="info row">
					<div class="col-xs-12">
						<meta itemprop="datePublished" content="{{getDate | date.xmlschema}}"/>
						<i class="fa fa-calendar"></i> <span class="date">{{getDate | date.string}}</span>
						{{#trans}}by{{/trans}} 
						<span class="author"><a href="{{getAuthor.getPostsUrl}}">{{getAuthor.getDisplayName}}</a></span>
						{{# getCategories | count }}
							{{#trans}}in{{/trans}} <span class="categories">{{> post/_categories }}</span>
						{{/ getCategories | count }} 
					</div>
				</div>

				<div class="col-xs-12 text-left content" itemprop="articleBody">
					{{{ getContent }}}
				</div>
				
				<hr>

				<div id="comment-form" class="col-xs-12"> 
					{{{ getFormComments }}}
				</div>

				{{# getComments | count }}
				<div id="comments" class="col-xs-12 comments">
					<h3 class="col-xs-12 titular">{{#transu}}comments{{/transu}}</h3>
					{{# getComments }}
						{{> post/_comment }}
					{{/ getComments }}
				</div>
				{{/ getComments | count }}
			</div>

		</div>
		{{/ post }}
	{{/ content }}

{{/ base }}