{{< base }}	

	{{$ content }}
		
		<div id="search">
		
			{{# thingType }}
				<h1>{{thingType}}: "{{thingToSearch}}"</h1>
			{{/ thingType }}
			{{^ thingType }}
				<h1>{{#transu}}search{{/transu}}: "{{thingToSearch}}"</h1>
			{{/ thingType }}
			
			<div class="all-posts">
				{{> home/_all_posts }}				
			</div>
			<div class="">
				<a class="btn btn-default show-more col-xs-12" limit="5">{{#transu}}show_more{{/transu}}</a>
			</div>
		</div>
		
	{{/ content }}
	
{{/ base }}