{{# sidebar.content }}

	<div id="sidebar" class="col-xs-12 col-sm-2">

		{{> sidebar/_lang }}

		{{> sidebar/_searcher }}

		{{> sidebar/_pages }}

		{{> sidebar/_categories }}

		{{> sidebar/_tags }}

	</div>

{{/ sidebar.content }}
