<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-menu-header">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	      <a class="navbar-brand" href="{{homeUrl}}">
	      	<i class="fa fa-wordpress"></i>
	      </a>
	    </div>

	{{^ menu.header.active }}
		<div class="collapse navbar-collapse" id="menu-header-ajax"></div>
	{{/ menu.header.active }}
	{{# menu.header.active }}
		<div class="collapse navbar-collapse" id="menu-header">
			{{{ menu.header.content }}}
		</div>
	{{/ menu.header.active }}

	</div>
</nav>