<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">{{#transu}}user.about{{/transu}}</a></li>
	<li role="presentation"><a href="#web" aria-controls="web" role="tab" data-toggle="tab">{{#transu}}user.links{{/transu}}</a></li>
	<li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">{{#transu}}user.statistics{{/transu}}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

	<div role="tabpanel" class="tab-pane active" id="about">
		<span class="col-xs-12 display-name">
			<span class="what-title">{{#transu}}user.display_name{{/transu}}:</span>
			<span class="what-result" title="{{#transu}}user.display_name{{/transu}}">{{getDisplayName | ucfirst}} </span> 
		</span>						
		<span class="col-xs-12 rol">
			<span class="what-title">{{#transu}}user.rol{{/transu}}:</span>
			<span class="what-result" title="{{#transu}}user.rol{{/transu}}">{{getFirstRol | ucfirst}} </span>
		</span>

		<span class="col-xs-12 full-name">
			<span class="what-title">{{#transu}}user.full_name{{/transu}}:</span>
			<span class="what-result" title="{{#transu}}user.full_name{{/transu}}">{{getFullName | ucfirst}} </span>
		</span>

		<span class="col-xs-12 description">
			<span class="what-title">{{#transu}}user.description{{/transu}}:</span>
			<span class="what-result">{{getDescription}}</span>
		</span>
	</div>

	<div role="tabpanel" class="tab-pane" id="web">
		
		{{# getUserUrl }}
		<span class="col-xs-12 web">
			<span class="what-title">Web:</span>
			<span class="what-result">
				<a href="{{getUserUrl}}" target="_blank">{{getUserUrl}}</a>
			</span>
		</span>
		{{/ getUserUrl }}
		
		{{# getFacebook }}
			<span class="col-xs-12 facebook">
				<span class="what-title">Facebook:</span>
				<span class="what-result">
					<a href="{{getFacebookUrl}}" target="_blank">{{getFacebook}}</a>
				</span>
			</span>
		{{/ getFacebook }}

		{{# getTwitter }}
			<span class="col-xs-12 twitter">
				<span class="what-title">Twitter:</span>
				<span class="what-result">
					<a href="{{getTwitterUrl}}" target="_blank">{{getTwitter}}</a>
				</span>
			</span>
		{{/ getTwitter }}
		
		{{# getGooglePlus }}
			<span class="col-xs-12 twitter">
				<span class="what-title">Google+:</span>
				<span class="what-result">
					<a href="{{getGooglePlusUrl}}" target="_blank">{{getGooglePlus}}</a>
				</span>
			</span>
		{{/ getGooglePlus }}
	</div>
	
	<div role="tabpanel" class="tab-pane" id="statistics">
		<span class="col-xs-12 col-md-4 col-lg-4 total-posts">
			<span class="what-title">{{#transu}}user.total_publish_posts{{/transu}}:</span> 
			<span class="what-result" title="{{#transu}}user.total_publish_posts{{/transu}}">{{getPosts | count}} </span> 
		</span>
		
		<span class="col-xs-12 col-md-4 col-lg-4 total-comments">
			<span class="what-title">{{#transu}}user.total_comments{{/transu}}:</span> 
			<span class="what-result" title="{{#transu}}user.total_comments{{/transu}}">{{getComments | count}}</span> 
		</span>
	</div>

</div>