{{# instance }}
	<div class="sidebar-item row login">

		<div class="title">
			{{# title }}{{.}}{{/ title }}
			{{^ title }}{{#transu}}login{{/transu}}{{/ title }}
			{{#transu}}{{title}}{{/transu}}
		</div>

	</div>
{{/ instance }}