{{# getAuthor }}
<div id="post-meta" class="col-xs-12" itemprop="author" itemscope itemtype="http://schema.org/Person">
	<h3 class="titular">{{#transu}}author{{/transu}}</h3>

	<div class="col-xs-12 col-sm-4 col-md-2 animated avatar" itemprop="image" >
		<a href="{{getPostsUrl}}" title="{{#transu}}user.show_profile{{/transu}}">
			<img alt="{{getDisplayName}}" src="{{getAvatarProfile}}" >
		</a>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-4 autor titular">
		<h3>
			<small itemprop="jobTitle">
				{{# isTypeUser }} {{getFirstRol | ucfirst}} {{/ isTypeUser }}
				{{^ isTypeUser }} {{getType | transu}} {{/ isTypeUser }}
			</small><br>
			<a href="{{getPostsUrl}}" title="{{#transu}}user.show_profile{{/transu}}">
				<span itemprop="name">{{getDisplayName}}</span>
			</a>
		</h3>
		<div>
			{{getTotalPosts }} {{#trans}}posts{{/trans}}
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 description animated" itemprop="description">
		<i class="fa fa-quote-left"></i> {{getDescription | ucfirst}} 
		<a href="{{getPostsUrl}}">{{#transu}}user.show_profile{{/transu}}</a>
	</div>
</div>
{{/ getAuthor }}