<div class="col-xs-12 previous-next-post">
	<div class="col-xs-6 next-post">
		<div class="row">
			{{#getNextPost}}
			<a href="{{getPermalink}}" title="{{#transu}}by{{/transu}} {{getAuthor.getDisplayName}}">
				<span class="col-xs-4">
					{{> post/_thumbnail_medium }}
				</span>
				<span class="col-xs-8">
					{{#transu}}next{{/transu}}: {{{getTitle}}}
				</span>
			</a>
			{{/getNextPost}}
		</div>
	</div>
	<div class="col-xs-6 previous-post">
		<div class="row">
			{{#getPreviousPost}}
			<a href="{{getPermalink}}" title="{{#transu}}by{{/transu}} {{getAuthor.getDisplayName}}">
				<span class="col-xs-4">
					{{> post/_thumbnail_medium }}
				</span>
				<span class="col-xs-8">
					{{#transu}}previous{{/transu}}: {{{getTitle}}}
				</span>
			</a>
			{{/getPreviousPost}}
		</div>
	</div>	
</div>