{{# instance }}

	{{# pages | count }}
	<div class="sidebar-item pages row">

		<span class="title">
			{{#transu}}{{title}}{{/transu}} ({{pages | count }})
		</span>

		<ul class="list-group">
			{{# pages }}
				<li class="list-group-item"><a href="{{getPermalink}}">{{getTitle}}</a></li>
			{{/ pages }}
		</ul>

	</div>
	{{/ pages }}
	
	{{^ pages | count }}
		
		{{#transu}}empty{{/transu}}
		
	{{/ pages }}

{{/ instance }}