{{#user}}

<h3 id="img-header">{{#transu}}user.header{{/transu}} {{#trans}}current{{/trans}}</h3>

<div class="img-header col-xs-12">

	{{# getHeader }}
		<img alt="{{getDisplayName}}" src="{{{getHeader}}}" >
	{{/ getHeader }}
	{{^ getHeader }}
		<img class="without-thumbnail" >
	{{/ getHeader }}
	
</div>

<table class="form-table">	
	<tr>
		<th><label for="{{KEY_HEADER}}">{{#transu}}user.header{{/transu}}</label></th>
		<td><input type="file" id="{{KEY_HEADER}}" name="{{KEY_HEADER}}"><br> 
			<span class="description">
				{{#transu}}user.enter_your_what [what:{{#trans}}user.header{{/trans}}]{{/transu}}.<br>
				{{#transu}}user.recommended_sizes{{/transu}} => 
				{{#transu}}width{{/transu}}: {{HEADER_WIDTH}}px, {{#transu}}high{{/transu}}: {{HEADER_HEIGHT}}px
			</span>
		</td>
	</tr>	
</table>

{{/user}}