{{# user }}

	<h3 id="avatar">{{#transu}}user.avatar{{/transu}}</h3>
	
	<table class="form-table img-avatar">
		<tr>
			<th><img alt="{{getDisplayName}}" src="{{getAvatarProfile}}"></th>
			<td style="width: 50px;" id="user-avatar"></td>
			<td>
				<p> 
					<label for="{{KEY_AVATAR}}">Upload Avatar</label>
					<input type="file" name="{{KEY_AVATAR}}" id="{{KEY_AVATAR}}">
				</p>
			</td>
		</tr>
	</table>

{{/ user }}