{{#user}}
<h3 id="redes-sociales">{{#transu}}user.social_networks{{/transu}}</h3>
<table class="form-table">
	<tr>
		<th><label for="{{KEY_TWITTER}}">Twitter</label></th>
		<td>
			<input type="text" id="{{KEY_TWITTER}}" name="{{KEY_TWITTER}}" value="{{getTwitter}}"/><br> 
			<span class="description">{{#transu}}user.put_your [what:Twitter]{{/transu}} | {{getTwitterUrl}}</span>
		</td>
	</tr>
</table>
{{/user}}