{{# postsUrl }}
	<a class="author-url" href="{{getAuthor.getPostsUrl}}">{{getAuthor.getDisplayName}}</a>
{{/ postsUrl }}
{{# userUrl }}
	<a class="author-url" href="{{getAuthor.getUserUrl}}">{{getAuthor.getDisplayName}}</a>
{{/ userUrl }}