{{# getComments | count}}
	<span class="total-comments" title="{{#transu}}comments{{/transu}}">
		{{# getComments | moreThan1}}
				<i class="fa fa-comments-o"></i>
		{{/ getComments | moreThan1}}	
		{{^ getComments | moreThan1}}
				<i class="fa fa-comment-o"></i> 
		{{/ getComments | moreThan1}}
		<span class="total">{{getComments | count}}</span>
	</span>	
{{/ getComments | count}}