/* 
* Author: José María Valera Reales
*/

%post-home {
	.post {
		//border-bottom: 1px solid #ccc;
		margin: 12px 18px;
		padding: 12px 0;
		.date {}
		.excerpt {}
		.thumbnail {}
		.title {
			.permalink {
				font-size: 22px;
				font-weight: bold;
				text-transform: uppercase;
			}
			.total-comments {}
		}
	}
}