/* 
* Author: José María Valera Reales
*/
.sidebar {

	//border: 1px solid #000;

	.sidebar-item {

		margin-bottom: 3px;
		
		.pages {}
		
		.tags {
			list-style:none;
			li {
				float: left;
				margin-right: 8px;
			}			
		}
		
		.title {
			margin: 6px;
			padding: 6px;
			
			&:first-letter {
			    text-transform: uppercase;
			}			
		}
		
	}
}
