/*
* Author: José María Valera Reales
*/
#user {
	
	.profile {
		
		
		.avatar {
			margin-top: 12px;
			img {
				max-height: 130px;
			}
		}
		.info {
			margin-top: 12px;
			float: left;
		}
	}
	
}