/* 
* Author: José María Valera Reales
*/
@import "home.scss";

body {
	color: #000;
	font-family: Helvetica,Arial;
	font-size: 16px ;
	margin-bottom: 6px;
}

#blog-title {	
	margin: 30px 0;
	border: 2px solid #000;
		text-align: left;
	a { 
		font-size: 32px;
		color: #000;
    	text-decoration: none;
	}
	span {
		font-size: 21px;
	}
}