/* 
* Author: José María Valera Reales
*/
@import "base.scss";
@import "home.scss";
@import "post.scss";
@import "user.scss";
@import "sidebar.scss";

body {
	color: #000;
	font-family: Helvetica,Arial;
	font-size: 16px ;
}

#blog-title {	
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
	a {
		font-size: 32px;
		color: #000;
    	text-decoration: none;
	}
	span {
		font-size: 21px;
	}
}

#content {
}

#page {
}

#footer {
	border-top: 1px solid #ddd;
	padding: 12px 0px;
	margin: 8px 0px;
}

.list-posts {

	@extend %post-home;

	margin: 12px 0px;
	border: 1px solid #ccc;	

	.show-more {
		margin: 20px 0px;
	}
}