/* 
* Autor: José María Valera Reales <@Chemaclass>
*/

body {
	color: #000;
	font-family: Helvetica,Arial;
	font-size: 16px ;
	margin-bottom: 6px;
}

#blog-title {
	font-size: 32px;
	text-align: center;
}