{{# instance }}

	{{# tags | count }}
	<div class="sidebar-item tags row">
	
		<span class="title">
			{{#transu}}{{title}}{{/transu}} ({{tags | count }})
		</span>
	
		<ul class="tags col-xs-12">
			{{# tags }}
				<li>
					<a href="/{{tagBase}}/{{getSlug}}" title="{{getTotal}}">{{getName}}</a>
				</li>
			{{/ tags }}
		</ul>
	
	</div>
	{{/ tags }}
	
	{{^ tags | count }}
		
		{{#transu}}empty{{/transu}}
		
	{{/ tags }}

{{/ instance }}