{{# instance }}

	<div class="sidebar-item tags row">
		{{# tags | count }}
		
			<div class="title">
				{{#transu}}{{title}}{{/transu}} ({{tags | count }})
			</div>
		
			<ul class="tags col-xs-12">
				{{# tags }}
					<li>
						<a href="/{{tagBase}}/{{getSlug}}" title="{{getTotal}}">{{getName}}</a>
					</li>
				{{/ tags }}
			</ul>
		
		{{/ tags }}
		
		{{^ tags | count }}
			
			{{#transu}}empty{{/transu}}
			
		{{/ tags }}
	</div>

{{/ instance }}