{{# categories }}
<div class="sidebar-item categories row">

	<div class="title">
		{{#transu}}categories{{/transu}} ({{content | count }})
	</div>

	<ul class="list-group">
		{{# content }}
			<a href="/{{categoryBase}}/{{getSlug}}"><li class="list-group-item">{{getName}}</li></a>
		{{/ content }}
	</ul>

</div>
{{/ categories  }}