{{# pages }}
<div class="sidebar-item pages row">

	<div class="title">
		{{#transu}}pages{{/transu}} ({{content | count }})
	</div>

	<ul class="list-group">
		{{# content }}
			<a href="{{getPermalink}}"><li class="list-group-item">{{getTitle}}</li></a>
		{{/ content }}
	</ul>

</div>
{{/ pages }}