{{# pages  }}
<div class="sidebar-item pages row">

	<div class="title">
		{{# title }}
			{{. | ucfirst}} {{# withTotal }}({{content | count }}){{/ withTotal }}
		{{/ title }}
		{{^ title }}
			{{#transu}}pages{{/transu}} {{# withTotal }}({{content | count }}){{/ withTotal }}
		{{/ title }}
	</div>

	<ul class="list-group">
		{{# content }}
			<a href="{{getPermalink}}"><li class="list-group-item">{{getTitle}}</li></a>
		{{/ content }}
	</ul>

</div>
{{/ pages  }}