{{# searcher | count }}
<div class="sidebar-item searcher row">
	
	<div class="title ">{{#transu}}searcher{{/transu}}</div>

	<form action="/" method="get" class="" role="search">
		<div class="input-group">
			<input type="text" name="s" class="form-control"  placeholder="{{#transu}}search{{/transu}}">
			<span class="input-group-btn ">
				<button class="btn btn-default" type="submit" title="{{#transu}}search{{/transu}}">
					<i class="fa fa-search"></i>
				</button>
			</span>
	    </div>
	</form>

</div>
{{/ searcher | count }}