{{# tags }}
<div class="sidebar-item tags row">

	<div class="title">
		{{# title }}
			{{. | ucfirst}} {{# withTotal }}({{content | count }}){{/ withTotal }}
		{{/ title }}
		{{^ title }}
			{{#transu}}tags{{/transu}} {{# withTotal }}({{content | count }}){{/ withTotal }}
		{{/ title }}
	</div>

	<ul class="tags col-xs-12">
		{{# content }}
			<a href="/{{tagBase}}/{{getSlug}}"><li class="">{{getName}}</li></a>
		{{/ content }}
	</ul>

</div>
{{/ tags }}