{{# instance }}

	<div class="sidebar-item pages row">
		{{# pages | count }}
	
			<div class="title">
				{{# title }}{{.}}{{/ title }}
				{{^ title }}{{#transu}}pages{{/transu}}{{/ title }}
				 ({{pages | count }})
			</div>
	
			<ul class="list-group">
				{{# pages }}
					<li class="list-group-item"><a href="{{getPermalink}}">{{getTitle}}</a></li>
				{{/ pages }}
			</ul>
	
		{{/ pages }}
		
		{{^ pages | count }}
			
			{{#transu}}empty{{/transu}}
			
		{{/ pages }}
	</div>

{{/ instance }}