{{# instance }}

	{{# archives | count }}
	<div class="sidebar-item archives row">
	
		<div class="title">
			{{#transu}}{{title}}{{/transu}} ({{archives | count }})
		</div>
	
		<ul class="list-group">
			{{# archives }}
				<li class="list-group-item"><a href="{{getUrl}}" title="{{getTotal}}">{{getText}}</a></li>
			{{/ archives }}
		</ul>
	
	</div>
	{{/ archives }}
	
	{{^ archives | count }}
		
		{{#transu}}empty{{/transu}}
		
	{{/ archives }}

{{/ instance }}