{{# instance }}

	<div class="sidebar-item archives row">
		{{# archives | count }}
		
			<div class="title">
				{{# title }}{{.}}{{/ title }}
				{{^ title }}{{#transu}}archives{{/transu}}{{/ title }}
				({{archives | count }})
			</div>
		
			<ul class="list-group">
				{{# archives }}
					<li class="list-group-item"><a href="{{getUrl}}" title="{{getTotal}}">{{getText}}</a></li>
				{{/ archives }}
			</ul>
		
		{{/ archives }}
		
		{{^ archives | count }}
			
			{{#transu}}empty{{/transu}}
			
		{{/ archives }}
	</div>

{{/ instance }}