{{< base }}

	{{$ content }}
	
		<div class="col-xs-12 titular text-center">
		
			<h1 class="title">Error 404</h1>
			<p>{{#transu}}not_found{{/transu}}</p>
			
		</div>
	
	{{/ content }}
	
{{/ base }}